/* Sets color variables for the header and the rest of the page */
:root {
  --dark: #0d6e81;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

/* Sets display mode and direction for the body (entire page) */
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

/* Sets the profile picture to the left, and makes it a circle cutout */
.profile {
  vertical-align: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Styling and orientation for the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
  color: var(--light);
}

/* Font size for h1 (profile name) */
h1 {
  font-size: 200%;
}

/* Font size for h2 (card titles) */
h2 {
  font-size: 20px;
  margin: 0;
  color: #333;
}


/* Orients nav bar to be horizontal  */
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

/* Sets styling for the nav bar elements */
nav a {
  background-color: unset;
  color: var(--navlink-color);
  font-weight: bold;
  text-decoration: none;
}

/* Sets styling for the nav bar hover */
nav a:hover {
  color: var(--light);
}

/* Sets parameters for the main portion of the site, such as maximum width and display orientaiton */
main {
  display: table-column;
  flex: 1 1 0;
  max-width: 1400px;
  margin: 2% auto;
}

/* Sets the parameters and design for the footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  background-color: var(--dark);
  color: var(--light);
}

/* Orients the contents of the page into columns */
.column {
  float: left;
  padding: 10px;
}

/* Limits width of the nav column to 25% */
.column.side {
  width: 25%;
}

/* Limits the width of the main column to 75% */
.column.main {
  width: 75%
}

/* Allows the first project to be bigger than the others, and allows for grid orientation of cards */
.band {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

/* Design and oriention parameters for the cards */
.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

/* Hover animations for the cards */
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

/* Design for the article subtext for the cards */
.card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}

/* Design parameters for the card thumbnails */
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* Design parameters for the subtext on the cards */
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

/* Orientation paramters in desktop */
@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
  .project-1 {
  grid-column: 1/ span 2;
  }
  .project-1 h2 {
    font-size: 30px;
  }
}

/* Orientation parameters for mobile */
@media only screen and (max-width: 850px) {
  header {
    flex-direction: column;
  }
  .column.side, .column.main {
    width: 100%
  }
  h3 {
    text-align: center;
  }
}